  .searchBox {
    width: 70%;
  }

  .searchBox input  {
    border-radius: 30px;
    padding: 20px;
    padding-left: 50px;
    border: 1px solid #E5E7EB;
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 8px rgba(0, 0, 0, 0.08);
  
  }
  .searchBox button  {
    margin-left: 15px;
  }

  .clearRefinementsButton{
    color: #343A33;
    border-radius: 20px;  
    padding: 10px;
    background-color: #B9FF66;
    font-family: 'Raleway', sans-serif;
    font-size: 12px!important;
    font-weight: bold;
    line-height: 16px!important;
    padding: 15px;
  }
  
  .clearRefinementsButton:disabled{
    background-color: #F3F2F1;
  }

  
  .ais-RefinementList-label {
    display: flex;
    align-items: center;
    width: 100%;
    white-space: nowrap;
  }
  
  .ais-RefinementList-checkbox {
    margin-right: 10px;
  }
  
  .ais-RefinementList-labelText {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    white-space: nowrap;
  }

  .ais-InfiniteHits-item {
    padding-top: 0 !important;
    margin-top: 0 !important;
    border : none !important;
    box-shadow: none !important;
    padding: 0 !important;
  }
  
  .ais-RefinementList-count {
    margin-left: 10px;
  }

  [class^=ais-] {
    font-size: inherit !important;
  }
  
  .searchResult {
    overflow-y:auto !important;
  }

  .ais-InfiniteHits-item {
    width:100% !important;
  }

  .hit-categories {
    font-style: italic;
  }

  .sideFilters {
    flex-basis: 30%;
    /* padding-right: 20px; */
    box-shadow: 0px 18.95px 47.38px 0px #7773AA1A;
  }

  .searchPanel {
    flex-basis: 70%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    height : 90vh;
  }

  .searchContainer {
    display: flex;
  }
  

  @media (max-width: 1280px) {
    .sideFilters {
      width: 100%;
      padding-right: 0;
    }

    .searchPanel {
      width: 100%;
    }

    .searchContainer {
      display: block;
    }
  }

  .showMoreButton {
    background-color: #B9FF66;
    color: black;
    border-radius: 20px;  
    padding: 10px;
  }


  .filtersHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .ais-InfiniteHits {
    margin-top: 20px !important;
  }

  .searchBox {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

  .placeholderText{
    padding-left: 60px;
    padding-right: 20px;
  }

  .searchBoxWithStyledPlaceholder{
    width: 70%;
  }

  .didacticiel-icon {
    cursor: pointer;
    padding: 10px;
    border-radius: 30px;
    /* gray/200 */
    border: 1px solid #E5E7EB;
    /* depth 4 */
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 8px rgba(0, 0, 0, 0.08);
  }

  .customStats {
    font-family: Raleway;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 16px;
  }