  .searchBox {
    width: 70%;
  }

  .searchBox input  {
    border-radius: 20px;
    padding: 10px;
    padding-left: 50px;
  }
  .searchBox button  {
    margin-left: 15px;
  }
  
  .ais-RefinementList-label {
    display: flex;
    align-items: center;
    width: 100%;
    white-space: nowrap;
  }
  
  .ais-RefinementList-checkbox {
    margin-right: 10px;
  }
  
  .ais-RefinementList-labelText {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    white-space: nowrap;
  }

  .ais-InfiniteHits-item {
    padding-top: 0 !important;
    margin-top: 0 !important;
    border : none !important;
    box-shadow: none !important;
    padding: 0 !important;
  }
  
  .ais-RefinementList-count {
    margin-left: 10px;
  }

  [class^=ais-] {
    font-size: inherit !important
}
  
  .searchResult {
    overflow-y:auto !important;
  }

  .ais-InfiniteHits-item {
    width:100% !important;
  }

  .hit-categories {
    font-style: italic;
  }

  .sideFilters {
    flex-basis: 30%;
    padding-right: 20px;
  }

  .searchPanel {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    height : 90vh;
  }

  .searchContainer {
    display: flex;
  }
  

  @media (max-width: 1280px) {
    .sideFilters {
      width: 100%;
      padding-right: 0;
    }

    .searchPanel {
      width: 100%;
    }

    .searchContainer {
      display: block;
    }
  }

  .showMoreButton {
    background-color: #B9FF66;
    color: black;
    border-radius: 20px;  
    padding: 10px;
  }

  .clearRefinementsButton{
    color: black;
    border-radius: 20px;  
    padding: 10px;
    background-color: #B9FF66;
  }
  
  .clearRefinementsButton:disabled{
    background-color: #F3F2F1;
  }

  .filtersHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .ais-InfiniteHits {
    margin-top: 20px !important;
  }

  .searchBox {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

  .placeholderText{
    padding-left: 60px;
    padding-right: 20px;
  }

  .searchBoxWithStyledPlaceholder{
    width: 70%;
  }

